<!--The content below is only a placeholder and can be replaced.-->
<!-- Stack the columns on mobile by making one full-width and the other half-width -->
<div class="container-fluid">
  <div class="row main-container" >
    <div class="col-12 col-md-12">
      <app-title-bar-component></app-title-bar-component>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="row main-container header-main-container ">
    <div class="col">
      <app-footer-component (portFromFooter)='onChangeState($event)' (footerBridge)='onChangeState($event)' [toogleBarsInput]='CurrentState' [current_debug_bridge]='current_channels'></app-footer-component>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="row main-container">
    <div class="col-12 col-md-12">
      <app-body-component [current_data_in]='current_channels' [localState_in]='CurrentState' ></app-body-component>
    </div>
  </div>

  <!-- ============================================================== -->
  <!-- footer -->
  <!-- ============================================================== -->
  <div class="footer bg-custom fixed-bottom">
    <div class="container-fluid">
        <div class="row">
            <div class="col-3">
                <p class="footer-text">Grupo de Control y Procesamiento Digital de Señales.</p>
            </div>
            <div class="col-9">
                <img src="assets/unal-logos/colciencias-logo.png" alt="logo" class="logo-small float-right"/>
                <img src="assets/unal-logos/unal-blanco.png" alt="logo" class="logo float-right"/>
                <img src="assets/unal-logos/unal-nuevo-rojo-blanco.png" alt="logo" class="logo float-right"/>
            </div>
        </div>
    </div>
  </div>
<!-- ============================================================== -->
<!-- end footer -->
<!-- ============================================================== -->
  
</div>