.main-container {
  color: white;
}

.header-main-container {
  margin-top: 50px;
}

.bg-custom {
  background-color: transparent !important;
}

.logo {
/* background-color: transparent; */
width: 5%;
min-width: 50px;
}
.logo-small {
/* background-color: transparent; */
width: 20%;
min-width: 50px;
margin-top: 1%;
}

.footer-text {
font-size: 8pt;
}
