<div>
  <mat-tab-group class="aboutTabGroup">
    <mat-tab label="Documentación" class="myTab"> 
      <mat-card class="doc-card">
        <mat-card-header>
          <div mat-card-avatar class="file-header-image"></div>
          <mat-card-title class="doc-card-title">Filtros</mat-card-title>
        </mat-card-header>
        <mat-card-content >
          <br>  
          <br>
          <a href="https://github.com/santiagorc99/Notch/blob/master/Notch.ipynb" target="_blank">Filtro notch</a><br>
          <br>
          <a href="https://github.com/santiagorc99/Artefactos-oculares/blob/master/Ocular_artifact.ipynb" target="_blank">Filtro ocular</a><br>
          <br>
          <a href="https://github.com/jupvalenciaca/Topoplot/blob/master/Topoplot.ipynb" target="_blank">Topoplot</a><br>
          <br>
          <a href="https://github.com/Bryan0122/Loreta/blob/master/Python_Notebook_Loreta.ipynb" target="_blank">Loreta</a><br>

        </mat-card-content>
        
      </mat-card>
    </mat-tab>
    <mat-tab label="Equipo"> Content 2 
      <div class="container-fluid">
        <div class="row">
          <div class="col">
            <div class="test" >
              <h2>Research</h2>
              PhD. Ernesto Cuartas - National University of Colombia<br>
              PhD. David Cardenas - National University of Colombia<br>
            </div>
          </div>
          <div class="col">
            <div class="ent100">
              <h2>Scientific Advisors</h2>
              PhD. German Castellanos Dominguez – National University of Colombia<br>
              MD. Mauricio Medina – Clínica Santillana<br>
            </div>
          </div>
        </div>
        <mat-divider></mat-divider>
        <div class="row">
          <div class="col">
            <div class="test" >
              <h2>Development</h2>
              MSc. Andres Hernandez (UI+d3js+Frontend) – University of Cincinnati<br>
              MSc. Esteban Correa (Threejs+Architecture+Nodejs+Python) – University of Cincinnati<br>
              Felipe Vega (Initial UI concepts)
            </div>
          </div>
          <div class="col">
            <br>
            This project has been founded by National Department of Science - Colciencias through the grant #744  "CONVOCATORIA PARA PROYECTOS DE CIENCIA, TECNOLOGÍA E INNOVACIÓN EN SALUD 2016"
          </div>
        </div>
      </div>   
    </mat-tab>
  </mat-tab-group>
  <button mat-flat-button color="warn" (click)="onCloseCancel()">Cerrar</button>
</div>


