.edf-menu-tooltip {
  background: #505050;
}

.btn-space {
  margin-left: 2px !important;
  margin-right: 2px !important;
}

.example-small-width {
  width: 50%;
  min-height: 35px;
}

.mat-hint {
  color: whitesmoke !important;
}
