<div class="container control-bar">
  <div class="row main-container">
    <div class="col-md-6"> 
      <div class="container-fluid controls-content-container" *ngIf="visControls">
          <app-alz-control-buttons (startControlBar)='onCtrlToComponent($event)'  (annoControlBar)='onCtrlToComponent($event)' [current_data]='current_debug_bridge'></app-alz-control-buttons>
      </div>
      <div class="col-md-6"> 
        <div class="container-fluid connect-content-container" *ngIf="visConnect">
            <app-alz-connect-bar (portFromConnectBar)='onPortToFooterBar($event)'></app-alz-connect-bar>
        </div>
    </div>
    </div>
  </div>
