<div class="container">
  <div class="row">
    <div class="col-2 col-md-2 speed">
      <p>View Anno</p>
    </div>
    <div class="col-2 col-md-2 speed">
      <p class="speed">Open EDF</p>
    </div>
    <div class="col-2 col-md-2 speed">
      <p>Clear</p>
    </div>
    <div class="col-2 col-md-2 speed"> 
      <p>Filter</p>
    </div>
    <div class="col-2 col-md-2 speed">
      <p>ESI</p>
    </div>
    <div class="col-2 col-md-2 speed">
      <p>Load MRI</p>
    </div>
  </div>
  <div class="row main-container">
    <div class="col-2 col-md-2">
      <button mat-stroked-button (click)="AnnoLoad()" class="material-cust-small-button">
        <mat-icon class="material-cust-small-button-icon">edit</mat-icon>
      </button>
    </div>
    <div class="col-2 col-md-2">
      <button mat-stroked-button (click)="OpenEDF()" class="material-cust-small-button">
        <mat-icon class="material-cust-small-button-icon">folder_open</mat-icon>
      </button>
    </div>
    <div class="col-2 col-md-2">
      <button mat-stroked-button (click)="Clear()" class="material-cust-small-button">
        <mat-icon class="material-cust-small-button-icon">remove</mat-icon>
      </button>
    </div>
    <div class="col-2 col-md-2">
      <button mat-stroked-button (click)="Filter()" class="material-cust-small-button">
        <mat-icon class="material-cust-small-button-icon">filter</mat-icon>
      </button>
    </div>
    <div class="col-2 col-md-2">
      <button mat-stroked-button (click)="ESILoad()" class="material-cust-small-button">
        <mat-icon class="material-cust-small-button-icon">image_search</mat-icon>
      </button>
    </div>
    <div class="col-2 col-md-2">
      <button mat-stroked-button (click)="PlaneLoad()" class="material-cust-small-button">
        <mat-icon class="material-cust-small-button-icon">image</mat-icon>
      </button>
    </div>  
  </div>
</div>
  