<div class="container">
  <div class="row main-container align-items-center">
    <div class="col-2 col-md-2">
      <p class="speed text-center">View Anno</p>
    </div>
    <div class="col-2 col-md-2">
      <p class="speed text-center">Open EDF</p>
    </div>
    <div class="col-2 col-md-2">
      <p class="speed text-center">Clear</p>
    </div>
    <div class="col-2 col-md-2">
      <p class="speed text-center">Filter</p>
    </div>
    <div class="col-2 col-md-2">
      <p class="speed text-center">ESI</p>
    </div>
    <div class="col-2 col-md-2">
        <p class="speed text-center">Load MRI</p>
    </div>
  </div>
  <div class="row main-container">
    <div class="col-2 col-md-2">
      <button class="btn">
        <img src="assets/control-bar/if_1976055.png" alt="Rewind">
      </button>
    </div>
    <div class="col-2 col-md-2">
      <button class="btn">
        <img src="assets/control-bar/if_file-upload_326640.png" alt="Rewind">
      </button>
    </div>
    <div class="col-2 col-md-2">
      <button class="btn">
        <img src="assets/control-bar/if_CircledMinus_183317.png" alt="Rewind">
      </button>
    </div>
    <div class="col-2 col-md-2">
      <button class="btn">
        <img src="assets/control-bar/if_filter_383135.png" alt="Rewind">
      </button>
    </div>
    <div class="col-2 col-md-2">
      <button class="btn" style="background-color: white">
        <img src="assets/control-bar/engineer.png" alt="Rewind">
      </button>
    </div>
    <div class="col-2 col-md-2">
        <button class="btn">
          <img src="assets/control-bar/mri.png" alt="Rewind">
        </button>
    </div>  
  </div>
</div>
  