/* Container needed to position the button. Adjust the width as needed */
.container {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  /* Make the image responsive */
  .container img {
    width: 100%;
    height: 100%;
  }
  
    /* Style the button and place it in the middle of the container/image */
    .container .btn {
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      background-color: black;
      color: white;
      font-size: 6px;
      padding: 1px 1px;
      border: 1px solid white;
      cursor: pointer;
      border-radius: 0%;
      width: 35px;
      height: 35px;
    }

    .container .btn:hover {
      border: 1px solid red;
    }

  .speed p{
      font-size: 8px;
      text-align: justify;
      padding-left: 50%;
      height: 15px;
    }

    .material-cust-small-button {
      width: auto;
      min-width: 1%;
      vertical-align: middle;
    }
    
    .material-cust-small-button-icon {
      width: auto;
      min-width: 1%;
      vertical-align: middle;
    }

    .material-cust-small-input .inputfile + label {
      width: 100px;
      min-width: 1%;
      vertical-align: middle;
      opacity: 100%;
    }

    .inputfile + label {
      display: none;
    }