<div class="container content-panel">
  <div class="row main-container" [ngClass]="{'layout-2-1':localState_in == 0 || localState_in == 1 || localState_in == 2 ||  localState_in == 3}">
    <!-- <div class="col plane-view-container" *ngIf="visPlane">
        <app-plane-view [srcImage]="srcImageAxial"></app-plane-view>
    </div> -->
    <div class="container-fluid eeg-content-container" *ngIf="visEEG" [ngClass]="{'layout1-0': localState_in == 3}">
      <app-eeg-content [EEG_Status_eeg]='localState_in'  ></app-eeg-content>
    </div>
    <!-- <div class="col topo-plot-container" *ngIf="visTopoPLot">
      <app-topo-plot [topoplotImg]='srcTopoPlot' ></app-topo-plot>    [current_data]='patient_current_data'
    </div> -->
    <!-- <div class="col td-content-container" *ngIf="visESI">
      <app-td-content [brainFrontColors]='brainColors'></app-td-content>
    </div> -->
    <div class="col anno-content-container" *ngIf="visAnno">
      <app-annotation-content  [EEG_Status_eeg]='localState_in' [current_data]='current_data_in'></app-annotation-content>
    </div>
  </div>
  
</div>