 


<div class="myDSA">
    <p>
      real time DSA feature comes here!
    </p>
</div>


<!-- <button id='connBtn' type="button" (click)="onAddClick($event)">Add Sample</button> -->

<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="test" id="chartPLETH"></div>
    </div>
    <div class="col">
      <div class="ent100" id="chartENT100"></div>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="row">
    <div class="col-6">
      <div class="entre" id="chartCO2ET"></div>
    </div>
    <div class="col-6">
      <div class="entre" id="chartCO2FI"></div>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="row">
    <div class="col-4">
      <div class="entre" id="chartENTROPYRE"></div>
    </div>
    <div class="col-4">
      <div class="entre" id="chartENTROPYSE"></div>
    </div>
    <div class="col-4">
      <div class="entre" id="chartENTROPYBSR"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="entre" id="chartECGHR"></div>
    </div>
    <div class="col-6">
      <div class="entre" id="chartECGIMP"></div>
    </div>
  </div>
</div>



<!-- <div class="test" id="chartPLETH"></div>
<mat-divider></mat-divider>
<div class="ent100" id="chartENT100"></div>
<mat-divider></mat-divider>
<div class="entre" id="chartCO2ET"></div>
<mat-divider></mat-divider>
<div class="entre" id="chartCO2FI"></div>
<mat-divider></mat-divider> -->

<!-- <div class="entre" id="chartENTROPYRE"></div>
<mat-divider></mat-divider>
<div class="entre" id="chartENTROPYSE"></div>
<mat-divider></mat-divider>
<div class="entre" id="chartENTROPYBSR"></div>
<mat-divider></mat-divider> -->
<!-- <div class="entre" id="chartECGHR"></div>
<mat-divider></mat-divider>
<div class="entre" id="chartECGIMP"></div>
<mat-divider></mat-divider> -->
<div class="entre" id="chartNIBPMEAN"></div>
<mat-divider></mat-divider>
<div class="entre" id="chartNIBPDIA"></div>
<mat-divider></mat-divider>
<div class="entre" id="chartNIBPSYS"></div>
<mat-divider></mat-divider>
<div class="entre" id="chartTEMPT1"></div>
<mat-divider></mat-divider>