<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="row">
        <div class="pleth" id="chartPLETH"></div>
      </div>
      <div class="row tickvalues">
        <div class="col-xs-2 col-sm-2 col-lg-2"></div>
        <div class="col-xs-2 col-sm-2 col-lg-2">1s</div>
        <div class="col-xs-2 col-sm-2 col-lg-2">2s</div>
        <div class="col-xs-2 col-sm-2 col-lg-2">3s</div>
        <div class="col-xs-2 col-sm-2 col-lg-2">4s</div>
        <div class="col-xs-2 col-sm-2 col-lg-2">5s</div>
      </div>
    </div>
    <div class="col">
      <div class="row">
        <div class="ent100" id="chartENT100"></div>
      </div>
      <div class="row tickvalues">
        <div class="col-xs-2 col-sm-2 col-lg-2"></div>
        <div class="col-xs-2 col-sm-2 col-lg-2">1s</div>
        <div class="col-xs-2 col-sm-2 col-lg-2">2s</div>
        <div class="col-xs-2 col-sm-2 col-lg-2">3s</div>
        <div class="col-xs-2 col-sm-2 col-lg-2">4s</div>
        <div class="col-xs-2 col-sm-2 col-lg-2">5s</div>
      </div>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="row">
    <div class="col-6">
      <div class="row">
        <div class="co2et" id="chartCO2ET"></div>
      </div>
      <div class="row tickvalues">
        <div class="col-xs-2 col-sm-2 col-lg-2"></div>
        <div class="col-xs-2 col-sm-2 col-lg-2">1s</div>
        <div class="col-xs-2 col-sm-2 col-lg-2">2s</div>
        <div class="col-xs-2 col-sm-2 col-lg-2">3s</div>
        <div class="col-xs-2 col-sm-2 col-lg-2">4s</div>
        <div class="col-xs-2 col-sm-2 col-lg-2">5s</div>
      </div>
    </div>
    <div class="col-6">
      <div class="row">
        <div class="co2fi" id="chartCO2FI"></div>
      </div>
      <div class="row tickvalues">
        <div class="col-xs-2 col-sm-2 col-lg-2"></div>
        <div class="col-xs-2 col-sm-2 col-lg-2">1s</div>
        <div class="col-xs-2 col-sm-2 col-lg-2">2s</div>
        <div class="col-xs-2 col-sm-2 col-lg-2">3s</div>
        <div class="col-xs-2 col-sm-2 col-lg-2">4s</div>
        <div class="col-xs-2 col-sm-2 col-lg-2">5s</div>
      </div>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="row">
    <div class="col-4">
      <div class="row">
        <div class="entre" id="chartENTROPYRE"></div>
      </div>
      <div class="row tickvalues">
        <div class="col-xs-2 col-sm-2 col-lg-2"></div>
        <div class="col-xs-2 col-sm-2 col-lg-2">1s</div>
        <div class="col-xs-2 col-sm-2 col-lg-2">2s</div>
        <div class="col-xs-2 col-sm-2 col-lg-2">3s</div>
        <div class="col-xs-2 col-sm-2 col-lg-2">4s</div>
        <div class="col-xs-2 col-sm-2 col-lg-2">5s</div>
      </div>
    </div>
    <div class="col-4">
      <div class="row">
        <div class="entre" id="chartENTROPYSE"></div>
      </div>
      <div class="row tickvalues">
        <div class="col-xs-2 col-sm-2 col-lg-2"></div>
        <div class="col-xs-2 col-sm-2 col-lg-2">1s</div>
        <div class="col-xs-2 col-sm-2 col-lg-2">2s</div>
        <div class="col-xs-2 col-sm-2 col-lg-2">3s</div>
        <div class="col-xs-2 col-sm-2 col-lg-2">4s</div>
        <div class="col-xs-2 col-sm-2 col-lg-2">5s</div>
      </div>
    </div>
    <div class="col-4">
      <div class="row">
        <div class="entre" id="chartENTROPYBSR"></div>
      </div>
      <div class="row tickvalues">
        <div class="col-xs-2 col-sm-2 col-lg-2"></div>
        <div class="col-xs-2 col-sm-2 col-lg-2">1s</div>
        <div class="col-xs-2 col-sm-2 col-lg-2">2s</div>
        <div class="col-xs-2 col-sm-2 col-lg-2">3s</div>
        <div class="col-xs-2 col-sm-2 col-lg-2">4s</div>
        <div class="col-xs-2 col-sm-2 col-lg-2">5s</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="row">
        <div class="co2et" id="chartECGHR"></div>
      </div>
      <div class="row tickvalues">
        <div class="col-xs-2 col-sm-2 col-lg-2"></div>
        <div class="col-xs-2 col-sm-2 col-lg-2">1s</div>
        <div class="col-xs-2 col-sm-2 col-lg-2">2s</div>
        <div class="col-xs-2 col-sm-2 col-lg-2">3s</div>
        <div class="col-xs-2 col-sm-2 col-lg-2">4s</div>
        <div class="col-xs-2 col-sm-2 col-lg-2">5s</div>
      </div>
    </div>
    <div class="col-6">
      <div class="row">
        <div class="co2et" id="chartECGIMP"></div>
      </div>
      <div class="row tickvalues">
        <div class="col-xs-2 col-sm-2 col-lg-2"></div>
        <div class="col-xs-2 col-sm-2 col-lg-2">1s</div>
        <div class="col-xs-2 col-sm-2 col-lg-2">2s</div>
        <div class="col-xs-2 col-sm-2 col-lg-2">3s</div>
        <div class="col-xs-2 col-sm-2 col-lg-2">4s</div>
        <div class="col-xs-2 col-sm-2 col-lg-2">5s</div>
      </div>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="row">
      <div class="col">
        <div class="row">
            <div class="co2et" id="chartNIBPMEAN"></div>
        </div>
        <div class="row tickvalues">
          <div class="col-xs-2 col-sm-2 col-lg-2"></div>
          <div class="col-xs-2 col-sm-2 col-lg-2">1s</div>
          <div class="col-xs-2 col-sm-2 col-lg-2">2s</div>
          <div class="col-xs-2 col-sm-2 col-lg-2">3s</div>
          <div class="col-xs-2 col-sm-2 col-lg-2">4s</div>
          <div class="col-xs-2 col-sm-2 col-lg-2">5s</div>
        </div>
      </div>
      <div class="col">
        <div class="row">
          <div class="co2et" id="chartNIBPDIA"></div>
        </div>
        <div class="row tickvalues">
          <div class="col-xs-2 col-sm-2 col-lg-2"></div>
          <div class="col-xs-2 col-sm-2 col-lg-2">1s</div>
          <div class="col-xs-2 col-sm-2 col-lg-2">2s</div>
          <div class="col-xs-2 col-sm-2 col-lg-2">3s</div>
          <div class="col-xs-2 col-sm-2 col-lg-2">4s</div>
          <div class="col-xs-2 col-sm-2 col-lg-2">5s</div>
        </div>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="row">
      <div class="col">
        <div class="row">
          <div class="co2et" id="chartNIBPSYS"></div>
        </div>
        <div class="row tickvalues">
          <div class="col-xs-2 col-sm-2 col-lg-2"></div>
          <div class="col-xs-2 col-sm-2 col-lg-2">1s</div>
          <div class="col-xs-2 col-sm-2 col-lg-2">2s</div>
          <div class="col-xs-2 col-sm-2 col-lg-2">3s</div>
          <div class="col-xs-2 col-sm-2 col-lg-2">4s</div>
          <div class="col-xs-2 col-sm-2 col-lg-2">5s</div>
        </div>
      </div>
      <div class="col">
        <div class="row">
            <div class="co2et" id="chartTEMPT1"></div>
        </div>
        <div class="row tickvalues">
          <div class="col-xs-2 col-sm-2 col-lg-2"></div>
          <div class="col-xs-2 col-sm-2 col-lg-2">1s</div>
          <div class="col-xs-2 col-sm-2 col-lg-2">2s</div>
          <div class="col-xs-2 col-sm-2 col-lg-2">3s</div>
          <div class="col-xs-2 col-sm-2 col-lg-2">4s</div>
          <div class="col-xs-2 col-sm-2 col-lg-2">5s</div>
        </div>
      </div>
    </div>
</div>

