  <mat-horizontal-stepper class="wizard" [linear]="isLinear" #stepper="matHorizontalStepper">
    <mat-step [stepControl]="firstFormGroup">
        <ng-template matStepLabel>
        <!-- <h1 class="wizard-label">1.</h1>       -->
      </ng-template>
      <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                    <img src="assets/unal-logos/app-color.png" alt="UBT" class="wrapper_1"/>
            </div>
        </div>
        <div class="row">
            <div class="col-12 myText">
                <p>
                    Bienvenido a la plataforma Universal Brain Tooling - Alzheimer
                </p>
            </div>
        </div>
        <div class="row">
          <div class="col-8"></div>
          <div class="col-4">
              <div class="btn-group float-right">
                  <button mat-raised-button matStepperNext color="primary" type="button" class="btn-space">Sig.</button>
                  <button mat-raised-button type="button" color="warn" class="btn-space" (click)="OmitWizard($event)">Omitir</button>
              </div>
          </div>
        </div>
    </div>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
        <ng-template matStepLabel>
          <!-- <h1 class="wizard-label">2.</h1>       -->
        </ng-template>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <img src="../../assets/wizard/step1.gif" alt="" class="wrapper_2"/> 
                </div>
            </div>
            <div class="row">
                <div class="col-12 myText">
                    <p>
                        Cargar de forma rápida archivos EDF de múltiples canales
                    </p>
                </div>
            </div>
            <div class="row">
              <div class="col-8"></div>
              <div class="col-4">
                  <div class="btn-group float-right">
                      <button mat-raised-button matStepperPrevious type="button" color="primary" class="btn-space">Atrás</button>
                      <button mat-raised-button matStepperNext color="primary" type="button" class="btn-space">Sig.</button>
                      <button mat-raised-button type="button" color="warn" class="btn-space" (click)="OmitWizard()">Omitir</button>
                  </div>
              </div>
            </div>
        </div>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>
            <!-- <h1 class="wizard-label">3.</h1>       -->
          </ng-template>
          <div class="container-fluid">
              <div class="row">
                  <div class="col-12">
                          <img src="../../assets/wizard/step2.gif" alt="" class="wrapper_3"/></div>
              </div>
              <div class="row">
                  <div class="col-12 myText">
                      <p>
                            Realizar tareas de filtrado y procesamiento de señales en ventanas de tiempo específicas
                      </p>
                  </div>
              </div>
              <div class="row">
                <div class="col-8"></div>
                <div class="col-4">
                    <div class="btn-group float-right">
                        <button mat-raised-button matStepperPrevious type="button" color="primary" class="btn-space">Atrás</button>
                        <button mat-raised-button matStepperNext color="primary" type="button" class="btn-space">Sig.</button>
                        <button mat-raised-button type="button" color="warn" class="btn-space" (click)="OmitWizard()">Omitir</button>
                    </div>
                </div>
            </div>
        </div>    
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>
            <!-- <h1 class="wizard-label">3.</h1>       -->
          </ng-template>
          <div class="container-fluid">
              <div class="row">
                  <div class="col-12">
                          <img src="../../assets/wizard/step3.gif" alt="" class="wrapper_4"/></div>
              </div>
              <div class="row">
                  <div class="col-12 myText">
                      <p>
                            Topoplots
                      </p>
                  </div>
              </div>
              <div class="row">
                <div class="col-8"></div>
                <div class="col-4">
                    <div class="btn-group float-right">
                        <button mat-raised-button matStepperPrevious type="button" color="primary" class="btn-space">Atrás</button>
                        <button mat-raised-button matStepperNext color="primary" type="button" class="btn-space">Sig.</button>
                        <button mat-raised-button type="button" color="warn" class="btn-space" (click)="OmitWizard()">Omitir</button>
                    </div>
                </div>
            </div>
        </div>    
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>
          <!-- <h1 class="wizard-label">4.</h1>       -->
        </ng-template>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                        <img src="../../assets/wizard/step4.gif" alt="" class="wrapper_5"/></div>
            </div>
            <div class="row">
                <div class="col-12 myText">
                    <p>
                        Técnica de mapeo estándar Loreta
                    </p>
                </div>
            </div>
            <div class="row">
              <div class="col-8"></div>
              <div class="col-4">
                  <div class="btn-group float-right">
                      <button mat-raised-button matStepperPrevious type="button" color="primary" class="btn-space">Atrás</button>
                      <button mat-raised-button type="button" color="warn" class="btn-space" (click)="OmitWizard()">Omitir</button>
                  </div>
              </div>
            </div>
        </div>    
    </mat-step>
    
  </mat-horizontal-stepper>
  