  <mat-horizontal-stepper class="wizard" [linear]="isLinear" #stepper="matHorizontalStepper">
    <mat-step [stepControl]="firstFormGroup">
        <ng-template matStepLabel>
        <h1 class="wizard-label">Step 1.</h1>      
      </ng-template>
      <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                    <img src="https://picsum.photos/200/300/?blur" alt="" class="wrapper_1"/>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p>
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                </p>
            </div>
        </div>
        <div class="row">
          <div class="col-8"></div>
          <div class="col-4">
              <div class="btn-group float-right">
                  <button mat-raised-button matStepperNext color="primary" type="button" class="btn-space">Next</button>
                  <button mat-raised-button type="button" color="warn" class="btn-space" (click)="OmitWizard($event)">Omit</button>
              </div>
          </div>
        </div>
    </div>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
        <ng-template matStepLabel>
          <h1 class="wizard-label">Step 2.</h1>      
        </ng-template>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                        <img src="https://picsum.photos/200/300/?blur" alt="" class="wrapper_1"/>                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p>
                            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                    </p>
                </div>
            </div>
            <div class="row">
              <div class="col-8"></div>
              <div class="col-4">
                  <div class="btn-group float-right">
                      <button mat-raised-button matStepperPrevious type="button" color="primary" class="btn-space">Back</button>
                      <button mat-raised-button matStepperNext color="primary" type="button" class="btn-space">Next</button>
                      <button mat-raised-button type="button" color="warn" class="btn-space" (click)="OmitWizard()">Omit</button>
                  </div>
              </div>
            </div>
        </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>
          <h1 class="wizard-label">Step 3.</h1>      
        </ng-template>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                        <img src="https://picsum.photos/200/300/?blur" alt="" class="wrapper_1"/>                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p>
                            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                    </p>
                </div>
            </div>
            <div class="row">
              <div class="col-8"></div>
              <div class="col-4">
                  <div class="btn-group float-right">
                      <button mat-raised-button matStepperPrevious type="button" color="primary" class="btn-space">Back</button>
                      <button mat-raised-button type="button" color="warn" class="btn-space" (click)="OmitWizard()">Omit</button>
                  </div>
              </div>
            </div>
        </div>    </mat-step>
  </mat-horizontal-stepper>
  