<div class="container control-bar">
  <div class="row main-container">
      <div class="col-5 col-md-5">
        <app-edf-position-bar></app-edf-position-bar>
      </div>
      <div class="col-3 col-md-3">
        <app-edf-control-buttons (goBackward)='onGoBack($event)' (goForward)='onGoForwd($event)'></app-edf-control-buttons>
      </div>
      <div class="col-4 col-md-4">
        <app-edf-menu-bar (esiclick)='onESILoad($event)' (planeclick)='onPlaneLoad($event)' (annoclick)='onAnnoLoad($event)' (openclick)='onOpenEDF($event)' (notchfilterclick)='onNotchFilter($event)' (ocularfilterclick)='onOcularFilter($event)' (topoclick)='onTopoFilter($event)' (clearclick)='onClear($event)'></app-edf-menu-bar>
      </div>
  </div>
