<div class="container control-bar">
    <div class="row main-container">
        <div class="col-md-3 alz-control"> 
            <button mat-raised-button (click)="onStartClick($event)">
                <i class="material-icons">play_circle_filled</i>
                Obtener
            </button>
        </div>
        <div class="col-md-3 alz-control"> 
            <button mat-raised-button (click)="onStopClick($event)">
                <i class="material-icons">pause_circle_outline</i>
                Parar
            </button>
        </div>
        <div class="col-md-3 alz-control"> 
            <button mat-raised-button  (click)="onAddAnnoClick($event)">
                <i class="material-icons">add_circle_outline</i>
                Anotar
            </button>
        </div>
        <div class="col-md-3 alz-control"> 
            <button mat-raised-button (click)="onListAnnoClick($event)">
                <i class="material-icons">view_list</i>
                Ver anotaciones
            </button>
        </div>
        <div class="col-md-3 alz-control">
            <button mat-raised-button (click)="onSaveClick($event)">
                <i class="material-icons">save_alt</i>
                Guardar
            </button>
        </div>
    </div>
</div>