<div #eegmain class="container-fluid">
<div #git >
    <div class="row">
        <div class="col">
            <mat-form-field >
                <div style="display:none">
                    <mat-select (selectionChange)="visualControl($event)" [(value)]="visualization_type">
                        <mat-option value="Lines">Lines</mat-option>
                        <mat-option value="Horizon" disabled>Horizon</mat-option>
                    </mat-select>
                </div>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button mat-raised-button color="primary"
            matTooltip="Reducir amplitud"
            matTooltipClass="edf-menu-tooltip"
            aria-label="Button that shows a red tooltip"
            class="material-cust-small-button"
            (click)="click_multiplier($event, false)" >
                <mat-icon class="material-cust-small-button-icon">remove</mat-icon>
            </button> 
            &nbsp; 
            {{scale_multiplier[multiplier_pos]}}mV 
            &nbsp;
            <button mat-raised-button color="primary"
            matTooltip="Incrementar amplitud"
            matTooltipClass="edf-menu-tooltip"
            aria-label="Button that shows a red tooltip"
            class="material-cust-small-button"
            (click)="click_multiplier($event, true)">
                <mat-icon class="material-cust-small-button-icon">add</mat-icon>
            </button>
        </div>
    </div>
    <!-- <div class="row" [ngClass]="{'controlclass':control_vis===false}">
        <div class="col">
            <div id="body"> 
                <div id="graph"></div>
            </div>
        </div>
    </div> -->
    </div>
</div>