<div class="container-fluid">
    <div class="row">
        <div class="col">
            <button mat-stroked-button (click)="click_multiplier($event, false)"  class="material-cust-small-button">
                <mat-icon class="material-cust-small-button-icon">remove</mat-icon>
            </button>
            &nbsp;
            {{scale_multiplier[multiplier_pos]}}
            &nbsp;
            <button mat-stroked-button (click)="click_multiplier($event, true)"  class="material-cust-small-button">
                <mat-icon class="material-cust-small-button-icon">add</mat-icon>
            </button>
        </div>
    </div>
    <svg id="channel1" width="800" height="1500"></svg>
    <div id="body"> 
        <div id="graph">
        </div>
    </div>
</div>