.bg-custom {
    background-color: transparent !important;
}

.logo {
  /* background-color: transparent; */
  width: 7%;
  min-width: 50px;
}
.logo-small {
  /* background-color: transparent; */
  width: 10%;
  min-width: 50px;
}