            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <div class="footer bg-custom fixed-bottom">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xl-3 col-lg-3">
                                <p>Grupo de Control y Procesamiento Digital de Señales.</p>
                                <p>Universidad Nacional de Colombia.</p>
                            </div>
                            <div class="col-xl-5 col-lg-5">
                            </div>
                            <div class="col-xl-4 col-lg-4 logo">
                                    <img src="assets/unal-logos/unal-blanco.png" alt="logo" class="logo"/>
                                    <img src="assets/unal-logos/unal-nuevo-rojo-blanco.png" alt="logo" class="logo"/>
                                    <img src="assets/unal-logos/colciencias-logo.png" alt="logo-small" class="logo-small"/>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- end footer -->
                <!-- ============================================================== -->