            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <div class="footer bg-custom fixed-bottom">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-3">
                                <p class="footer-text">Grupo de Control y Procesamiento Digital de Señales.</p>
                            </div>
                            <div class="col-9">
                                    <img src="assets/unal-logos/colciencias-logo.png" alt="logo" class="logo-small float-right"/>
                                    <img src="assets/unal-logos/unal-blanco.png" alt="logo" class="logo float-right"/>
                                    <img src="assets/unal-logos/unal-nuevo-rojo-blanco.png" alt="logo" class="logo float-right"/>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- end footer -->
                <!-- ============================================================== -->