<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title class="topo-title">Topoplot</mat-card-title>
      <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
    </mat-card-header>
    <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
    <canvas id="myImage"></canvas>

    <mat-card-actions>
      <button mat-button (click)="onClose()">Close</button>
      <!-- <button mat-button>SHARE</button> -->
    </mat-card-actions>
</mat-card>