<!--The content below is only a placeholder and can be replaced.-->
<!-- Stack the columns on mobile by making one full-width and the other half-width -->
<div class="container">
    <div class="row main-container">
        <div class="col-12 col-md-8">
          <h1>Universal Brain Tool Interface</h1>
        </div>
    </div>
<div class="row main-container">
  <div class="col-12 col-md-12">
      <app-title-bar-component></app-title-bar-component>
  </div>
</div>
<div class="row main-container">
  <div class="col-12 col-md-12">
      <app-principal-content-component></app-principal-content-component>
  </div>
</div>
<div class="row main-container">
  <div class="col-12 col-md-12">
    <app-control-bar-component></app-control-bar-component>
</div>
