.form-dialog > * {
    width: 100%;
}

.btn-space {
  margin-left: 2px !important;
  margin-right: 2px !important;
}

/* Border */
.mat-form-field-appearance-outline .mat-form-field-outline {
  color: #0097A7 !important;
}
.form-dialog > h2{
  color: #0097A7 !important;
}