/* You can add global styles to this file, and also import other style files */
html body {
  background-color: black;

}

body { 
  margin: 0;
}

/* D3 Styles are called from the main style header*/
.axis--x path, .axis--y path, .axis--x text, .axis--x line {
  stroke: rgb(255, 255, 255);
}

.axis--y text, .axis--y line {
  display: none;
}

.line_eeg_1 {
  fill: none;
  stroke-width: 1.5px;
}
