.btn-space {
    margin-left: 2px !important;
    margin-right: 2px !important;
}

.example-large-box {
    height: 300px;
    width: 300px;
}

.form-dialog > * {
    width: 100%;
}

/* Border */
.mat-form-field-appearance-outline .mat-form-field-outline {
    color: #0097A7 !important;
}
/* Border */
.mySel {
    color: #0097A7 !important;
}