
<div  md-dialog-content class="form-dialog">
  <h2 md-dialog-title color="warn">Crear anotación</h2>
  
    Tiempo actual: {{data}}
    <mat-divider></mat-divider>

    <mat-form-field appearance="fill" color="warn">
        <mat-label>Descripción</mat-label>
        <input matInput placeholder="" [(ngModel)]="annotDesc">
        <mat-icon matSuffix>mode_edit</mat-icon>
    </mat-form-field>

  
  <mat-divider></mat-divider>
  <div md-dialog-actions>
    <button mat-raised-button color="warn" (click)="onCloseCancel()"
      class="material-cust-small-button btn-space">
      <i class="material-icons">highlight_off</i>
      Cancelar
    </button>
    <button mat-raised-button color="warn" (click)="onCloseConfirm()"
      class="material-cust-small-button btn-space">
      <i class="material-icons">done</i>
      Aceptar
    </button>
  </div>
</div>