.logo {
  /* background-color: transparent; */
  width: 1.5%;
  margin-left: 10px;
  min-width: 50px;
}

.title {
  color: white !important;
}

.bg-custom {
  background-color: transparent !important;
}

.data-patient p {
  color: #00FF00;
  font-size: 8pt;
  width: 200px;
}