<div class="container-fluid title-bar">
  <div class="row main-container">
    <mat-toolbar color="primary" style="padding: 0px 0px 0px 0px">
      <mat-toolbar-row>
        <span>
          <img class="logo" src="./assets/logo/logo.png" alt="logo"/>
        </span>
        <span>Universal Brain Tool Interface</span>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
  <div class="row main-container" style="padding: 0px 0px 0px 0px">
    <mat-toolbar color="accent">
      <mat-toolbar-row>
        <span>Navbar</span>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
</div>