<div class="container">
  <div class="row main-container">
    <div class="col-3 col-md-3">
      <button class="btn">
        <img src="assets/control-bar/if_Backward_Skip_2001868.png" alt="Rewind">
      </button>
    </div>
    <div class="col-3 col-md-3">
      <button class="btn">
        <img src="assets/control-bar/if_Forward_Skip_2001880.png" alt="Rewind">
      </button>
    </div>
    <div class="col-3 col-md-3">
      <button class="btn">
        <img src="assets/control-bar/if_Minus_2001871.png" alt="Rewind">
      </button>
    </div>
    <div class="col-3 col-md-3">
        <button class="btn">
          <img src="assets/control-bar/if_Plus_2001887.png" alt="Rewind">
        </button>
      </div>
  </div>
  <div class="row main-container">
    <div class="col-6 col-md-6 text-center"><p class="speed">move control</p></div>
    <div class="col-6 col-md-6 text-center"><p class="speed">10x</p></div>
  </div>
</div>
